.site-header {
	padding: 22px 0;
position: relative;
}

.site-header__inner {
	@include flex-starter;
	position: relative;
}
.site-header__logo-link {
	text-decoration: none;
}
.site-header__list {
	@include flex-starter;
	@include list-starter;
	gap: 32px;
	margin-left: 58px;
	max-width: 1300px;
	width: 100%;
}
.site-header__item2 {
	margin-left: auto;
}
.site-header__item-link {
    color: #939CAA;

    font-family: "Space Mono";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    text-decoration: none;
}
.site-header__item-link:hover{
    color: #FCB72B;
}
.site-header__btn {
	display: inline-block;
	text-decoration: none;
    margin-left: auto;
	padding: 14px 38px;
	background-color: #fcb72b;
	color: #FFF;

text-align: center;
font-family: sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 25px;
border: solid 3px transparent;
}
.site-header__btn:hover{
	color: #FCB72B;
	background-color: transparent;
	border: 3px solid #FCB72B;
}

.burger-btn {
	display: none;
	border: none;
	padding: 0;
	background-color: transparent;
}

@media only screen and (max-width: 678px) {
	.site-header__inner {
		position: relative;
		justify-content: center;
	}
	.burger-btn {
		position: absolute;
		left: 0;
		top: 2px;
		display: inline-block;
	}

	.site-header__list {
		
	display: flex;
	flex-direction: column;
		position: absolute;
		transition: all 0.5s ease;
	background-color: #333a44;
	top: 43px;
	left: -200%;
	padding: 32px;
	z-index: 1;
	align-items: start;
	height: 55vh;
	width: 70%;
	padding-right: 55px;
	}
    .site-header__btn{
        margin: 0;
    }
	.site-header__logo {
		width: 75px;
		height: 20px;
	}
	.site-header__item2{
		margin-top: auto;
		margin-right: auto;
		margin-left: 0;
	}
}
.open{
	display: flex;
	flex-direction: column;
	position: absolute;
	background-color: #333a44;
	top: 43px;
	left: -100px;
	padding: 32px;
	z-index: 1;
	align-items: start;
	height: 55vh;
	width: 70%;
	padding-right: 35px;
}