.service {
    margin-top: 200px;
    margin-bottom: 330px;
    overflow-x: hidden;
}
.service__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 155px;
}
.service__item {
	position: relative;
	@include flex-starter;
	justify-content: space-between;
}
.service__item1 {
	position: relative;
	@include flex-starter;
	justify-content: space-between;
}
.service__item-main {
	width: 445px;
	margin-right: 50px;
}
.service__item-main1 {
	width: 445px;
	margin-left: 50px;
}

.box {
	position: relative;
    margin-bottom: 30px;
	&::before {
		content: '';
		position: absolute;
		right: -170px;
		bottom: 0;
		width: 740px;
		height: 150px;
		background-image: url('../../images/Group\ 32\ \(1\).svg');
		z-index: 1;
	}

	&::after {
		content: '';
		position: absolute;
		right: -510px;
		bottom: 0;
		width: 445px;
		height: 445px;
		background-image: url('../../images/Mask\ \(2\).png');
	}
}
.box3 {
	position: relative;
    margin-bottom: 30px;
	&::before {
		content: '';
		position: absolute;
		left: -550px;
		top: 20px;
		width: 740px;
		height: 150px;
		background-image: url('../../images/Group\ 13\ Copy\ \(1\).svg');
		z-index: 1;
	}

	&::after {
		content: '';
		position: absolute;
		left: -510px;
		bottom: 0;
		width: 445px;
		height: 445px;
		background-image: url('../../images/Mask\ \(2\).png');
	}
}
.box2{
    position: relative;
    &::before {
		content: '';
		position: absolute;
		right: -550px;
		top: 50px;
		width: 740px;
		height: 150px;
		background-image: url('../../images/Group\ 32\ \(1\).svg');
		z-index: 1;
	}
}
.service__item-title {
	color: #495567;
	font-family: 'Space Mono';
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 48px; /* 100% */
	letter-spacing: -2.143px;
}
.service__item-text {
	color: #939caa;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 25px;
	margin-top: 24px;
	margin-bottom: 40px;
    font-family: sans-serif;
}
.service__item-link {
	display: inline-block;
	background-color: #fcb72b;
	padding: 14px 44px;
    text-decoration: none;
    font-family: sans-serif;
    color: #fff;
}
.img_border{
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {
	.service {
		overflow-x: hidden;
	}
	.service__item {
        flex-direction: column-reverse;
	}
    .service__item1{
        flex-direction: column;
    }

	.service__item-main {
		width: 100%;
		text-align: center;
        margin-right: 0;
	}

	.service__item-img {
		margin-bottom: 56px;
	}

    .box2{
        &::before{
        top: 10px;
        left: calc(50% - 50px);
        }
    }
    .service__item-main1 {
		width: 100%;
		text-align: center;
        margin-left: 0;
	}

	.service__item-img1 {
        margin-bottom: 56px;
	}
    .box3{
        &::after{
            content: none;
        }
    }
}
@media only screen and (max-width: 768px){
    .box {
		&::before {
			left: 20px;
		}
}
@media only screen and (max-width: 500px) {
	}
	.service__item-img {
		max-width: 100%;
	}
    .service__item-img1 {
		max-width: 100%;
	}

	.service__item-title {
		font-size: 32px;
		letter-spacing: -1.429px;
	}

}
